<div>
  <%= image_tag @plant.get_image %>
  <p>植物名：<%= @plant.plant_name %></p>
  <p>説明：<%= @plant.caption %></p>
  <p>投稿ユーザー画像：<%= image_tag @plant.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @plant.user.name %></p>
  <p>投稿日：<%= @plant.created_at.strftime('%Y/%m/%d') %></p>
  <% if @plant.user == current_user %>
    <%= link_to "削除", plant_path(@plant), method: :delete %>
  <% end %>
  
  <% if @plant.favorited_by?(current_user) %>
    <p>
      <%= link_to plant_favorites_path(@plant), method: :delete do %>
        ♥<%= @plant.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to plant_favorites_path(@plant), method: :post do %>
        ♡<%= @plant.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  
</div>

<div>
  <p>コメント件数：<%= @plant.plant_comments.count %></p>
  <% @plant.plant_comments.each do |plant_comment| %>
    <p><%= image_tag plant_comment.user.get_profile_image(100,100) %></p>
    <%= plant_comment.user.name %>
    <%= plant_comment.created_at.strftime('%Y/%m/%d') %><%= plant_comment.comment %>
    <% if plant_comment.user == current_user %>
      <%= link_to "削除", plant_plant_comment_path(plant_comment.plant, plant_comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@plant, @plant_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<p>Find me in app/views/plants/show.html.erb</p>
