<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= image_tag @plant.get_image, resize:"200x200", class:"card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag @plant.user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %></p>
        </div>
        <div class="col-10">
          <p class="card-title">
              <strong><i class="fab fa-envira"></i><span> <%= @plant.plant_name %></span></strong></p>
          <p class="card-text">説明：<%= @plant.caption %></p>
          <span><i class="fas fa-user"></i> By <%= @plant.user.name %> ｜ </span>
          <span><i class="fas fa-calendar"></i> <%= @plant.created_at.strftime('%Y/%m/%d') %> ｜ </span>
          <span><i class="fas fa-comment"></i> <%= @plant.plant_comments.count %> ｜ </span>
    
          <!--部分テンプレートにした箇所(部分的に更新したい箇所)-->
          <span id="favorite_buttons_<%= @plant.id %>">
            <%= render "favorites/btn", plant: @plant %></span>  
   
    <!--% if @plant.favorited_by?(current_user) %>-->
    <!--      <span>-->
    <!--      %= link_to plant_favorites_path(@plant), method: :delete do %>-->
    <!--        ♥%= @plant.favorites.count %>-->
    <!--      % end %>-->
    <!--% else %>-->
    <!--      %= link_to plant_favorites_path(@plant), method: :post do %>-->
    <!--        ♡%= @plant.favorites.count %> -->
    <!--      % end %>-->
    <!--% end %>-->
    
          
    <% if @plant.user == current_user %>
          <span> ｜ <%= link_to "削除", plant_path(@plant), method: :delete %></span>
        </div>
      </div>
    <% end %>  
    </div>
    
  <div class="card-title">
    <h4 class="mx-3"><%= @plant.plant_comments.count %>件コメント</h4>
  
<div class="card mx-3" style="max-width: 700px;">
  <div class="row">
    <% @plant.plant_comments.each do |plant_comment| %>
    <div class="col-2">
      <%= image_tag plant_comment.user.get_profile_image(100,100), class:"mt-3 ml-3 rounded-circle"; %>
    </div>
    <div class="col-10">
      <div class="card-body">
        <p class="card-title"><%= plant_comment.created_at.strftime('%Y/%m/%d') %></p>
        <p class="card-text"><%= plant_comment.comment %></p>
      <% if plant_comment.user == current_user %>   
        <p class="card-text">
        <%= link_to "削除", plant_plant_comment_path(plant_comment.plant, plant_comment), method: :delete, class: "btn btn-danger pull-right" %> </p>      
      <% end %> 
      </div>
    </div>
    <% end %> 
  </div>
</div>
        
    <div class="comments card-text mx-3">
      <h6 class="mt-1">コメントする</h6>
    </div>
 
    <div class="row">
      <div class="col-11 mx-3 pb-10">
        <%= form_with model: [@plant, @plant_comment] do |f| %>
        <%= f.text_area :comment, class:"form-control", placeholder:"コメントをここに" %>
      </div>
    </div>
              
    <div class="row">
      <div class="col-11 mt-3 lm-2">      
        <p class="text-right"><%= f.submit "送信する", class:"btn btn-lg btn-info btn-block-mt-2 float-rigth" %></p>
        <% end %>
      </div>
    </div>
    
  </div>
  
  </div> 
</div>